@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@400;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1em
}

h1, h2 {
    font-family: 'Libre Baskerville', serif
}

img {
    width: 100%;
    height: auto;
    display: block
}

footer, header {
    background-color: #000;
    color: #fff
}

header {
    text-align: center;
    padding: 60px 0 120px 0
}

header :is(h2, p) {
    color: #aaa
}

main {
    padding-bottom: 30px
}

.container {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto
}

main section.container {
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
}

main section article {
    width: 100%;
    position: relative;
    /* mascara - capitulo de precurso animaciones */
    overflow: hidden;
}

main section article .velo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;

}

main section article h4 {
    margin-left: -800px;
    transition: 1s;
}

main section article h3 {
    margin-left: 800px;
    transition: 1s;
}


main section article:hover .velo {
    opacity: 1;
}

main section article:hover :is(h4, h3) {
    margin-left: 0;
}

main section article img {
    transition: 1s;
}

main section article:hover img {
    transform: scale(1.25) rotateZ(10deg);

}



@media(min-width: 600px) {

    main section article {
        width: 50%;
    }
}