@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: whitesmoke;
}

/* todas las imagenes deberan adaptarse a su contenedor al 100% de ancho que con altura automatica para no deformarse */

/*
    media queries
    movil - 425px
    tablet - 768px
    monitor - 1004px - 1200px
*/

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1004px;
    margin: 0 auto;
}

/* inicio header */

header {
    padding: 1em;
    box-shadow: 0px 1px 10px #444;
    border-bottom: 1px solid #ccc;
}

header figure {
    width: 150px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
    margin: 10px 5px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

header nav ul li a:hover {
    color: #999
}

/* final header */

/* inicio hero */

.hero {
    background-image: url(../images/fondo.jpeg);
    height: 55vh;
    background-size: cover;
    background-position: center center;
    background-color: #999;
    background-blend-mode: multiply;
    /* alinear vertical y horizontalmente un elemento */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.hero h4 {
    font-size: 1.2em;
    margin: 25px 0px 15px 0px;
    text-shadow: 2px 2px 2px black;
}

.hero ul li {
    display: inline-block;
}

.hero ul li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 80%;
}

.hero li:first-child a {
    background-color: gray;
    border: 1px solid black;
}

.hero li:last-child a {
    background-color: transparent;
    border: 1px solid white;
}

/* fin hero */

/* inicio main */
main {
    margin-bottom: 50px;
}

main section h2 {
    display: none;
}

main section.container {
    background-color: white;
    padding: 30px;
    border-top: 5px solid yellow;
    margin-top: -60px;
}

main section div {
    display: flex;
}

main section article {
    padding: 0px 10px;
    color: #999;
}

main section article h3 {
    margin: 10px 0px;
    font-weight: bold;
}

main section article h3 span {
    color: teal
}

main section article p {
    line-height: 120%;
}

main section article:nth-child(2) {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

/* fin main */


footer {
    background-color: black;
    color: white;
    padding: 15px;
}

footer div {
    display: flex;
    justify-content: end;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: white;
    font-size: 120%;
}

@media (max-width: 37.5em) {

    header .container {
        justify-content: start;
        flex-direction: column;
    }

    header nav ul li {
        display: block;
        text-align: center;
        margin: 0px;
        padding: 15px 0px;
        border-bottom: 1px solid #444;
    }

    header nav ul li:last-child {
        border: 0px;
    }

    main section div {
        flex-direction: column;
    }

    main section article:nth-child(2) {
        border: 0px;
    }

}